<div class="centrado">
{{#each user}} 
<div class="box-user alert alert-secondary">
<p>Email: {{{this.email}}}</p>
<p>Username: {{{this.username}}}</p>
<p>ID: {{{this._id}}}</p>
</div>
{{/each}}
</div>