<!DOCTYPE html>
<style>
p {
    
    display: inline;
    
}
    
td {
    
    border-style:solid
    
    }    
</style>
<html>
<body>
<form action="/" method="POST" class="login">
<h1>Inicia sesion:</h1><br>
    <div><table><tr><td><p>Nombre de Usuario:</p>
        <input type=text id="username" name="username"> </td><td><p>    Contraseña:</p>
        <input type=text id="password" name="password"></td><td>
<input type="submit"></td></tr></table></div>
</form>
   <br>
   <br>
    <a href="/register">Registrarse</a>

</body>
</html>