<!DOCTYPE html>
<style>
p {
    
    display: inline;
    
}
    
td {
    
    border-style:solid
    
    }    
</style>
<html>
<body>
<form action="/register" method="POST" class="login">
<h1>Registrate:</h1><br>
    <div><table>
        <tr><td><p>Nombre de Usuario:</p>
        <input type=text id="username" name="username">
        </td><td><p>Email:</p>
        <input type=text id="email" name="email">
        </td><td><p>Contraseña:</p>
        <input type=text id="password" name="password">
        </td><td>
<input type="submit"></td></tr></table></div>
</form>
   <br>
   <br>
    <a href="./">Ir al login</a>

</body>
</html>