body {
 background-color: whitesmoke;    
    text-align: center;

}

.Box  {
 position: relative; 
 border-style: solid;
 border-width: 1px;
 display: inline-block;
 width: 380px;
 margin: 5px;
 background-color: lightcyan; 
 box-shadow: 3px 3px 3px 3px grey;
}
#btn-modos{
    
  padding-bottom: 50px;  
    
}
.table  {
 position: relative; 
 border-style: solid;
 border-width: 1px;  
 display: inline-block;
 width: 920px;
 height:52px;    
 margin: 0px;
 background-color: lightcyan; 
 box-shadow: 3px 3px 3px 3px grey;
}
.centrado{   
text-align: center;    
}
p {
    padding-top:4px; 
     width: 370px;
 margin-bottom: -10px; 
    display: inline-block;
    text-align:left;
    padding-left: 20px;
    font-weight:bold;
}
.boxtotal {
 padding-top:10px;
 padding-bottom:0px;
 margin: auto;
 height: 30px;   
 width: 190px;   
    
}
.avatar {
position: absolute;    
width: 50px;
height: 50px;
top:0px;
left:0px;    
}
.Blank {
display: block;
width: 100px;
height: 50px;   
}
.Blanktable{
display: block;
width: 100px;
height: 0px;    
    
}
.avatartable {
position: absolute;    
width: 50px;
height: 50px;
left: 0px;
padding: 0px;
top: 0px;    
}

.estado{
position: absolute;
width: 50px;
height: 50px;  
right: 0px;
padding: 0px;
top: 0px;    
}

.boxedit{ 
 position: absolute;  
    top: 10px;
    left: 65px;
    width: auto;
    text-align: center;
}
.boxdel{
position: absolute;
 top: 10px;
  right:55px;  
}

/* The spinner */

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner,
.spinner:before {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}

.spinner:before {
  content: '';
  display: block;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.spinner-absolute {

 padding-top: 300px;
  margin:auto;
}

/* Animations */

.spinner-add,
.spinner-remove {
  animation-fill-mode: both;
  animation-duration: .4s;
}

.spinner-add {
  animation-name: spinner-add;
}

@keyframes spinner-add {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

.spinner-remove {
  animation-name: spinner-remove;
}

@keyframes spinner-remove {
  to {transform: scale(0);}
}

.easyPaginateNav{
    position:absolute;
    
    width: 99%;
    top: 33px;
   color:black;
   
  
}
.easyPaginateNav a { font-weight:bolder;margin:1px;padding:3px;border-style: solid;border-width: 1px;background-color: white;border-radius: 6px;color:black;}
.easyPaginateNav a.current {text-decoration:underline;color:red;background-color:black;}
.backform {
   opacity: 1;
   top:0px;
   position: absolute;
   height: 2000px;
   width: 2000px;   
   background-color:rgba(0, 0, 0, 0.8);
    }
.editform {
    border-radius: 50px;
    border-color: aqua;
    border-width: 5px;
    position: fixed;
     height: 600px;
   width: 600px;
    margin: auto;
    left: 350px;
    top:70px;
   background-color:whitesmoke;
    text-align: left;
    
}
label {
    
    padding-left: 100px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
    
}

.enviar{
    
 margin-left: 250px;
 margin-bottom: 20px;   
}
.btn{
    
  margin-left: 250px;
  
}

.subida {
    
  margin: auto;  
    
}

.avatarform {
   position: absolute; 
width: 160px;
height: 160px; 
right: 30px;   
border-radius: 50%;
border: 2px solid #ccc;   
    
}