h1 {
    
	padding-top: 10px;
    font-weight: 100;
    text-align: center;
    height: auto;
	margin: auto;
	color: black;
	width: 510px;
	font-family: serif;
	border-bottom-style: solid;
	border-color: gray;
	border-width: 1px;

}

p {
    
    display: inline;
    
}
    
td {
    
    border-style:solid
    
}   
body {
	
padding-top: 40px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#72aad8+0,ffffff+25,ffffff+75,72aad8+100 */
background: rgb(114,170,216); /* Old browsers */
background: -moz-linear-gradient(left, rgb(25,100,100) 0%, rgb(255,255,255) 50%, rgb(25,100,100) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgb(25,100,100) 0%,rgb(255,255,255) 50%,rgb(25,100,100) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgb(25,100,100) 0%,rgb(20,205,205) 50%,rgb(25,100,100) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72aad8', endColorstr='#72aad8',GradientType=1 ); /* IE6-9 */
    
}
.content {
    
    border-radius: 20px;
	border: 2px;
    border-color: gray;
    border-style: solid; 
    margin: auto;
    background-color: rgb(249,255,255);
    width: 710px;
    
}

.form-body {
	
    background-color: rgb(250,255,255);
    margin: auto;
    width: 610px;
	border-style: none;
	border-color: gray;
	border-width: 1px;
	border-radius: 20px;
	padding: 10px;
    
}

p {
    
    font-weight: 200;
    color: black;
    text-align: left;
    
}

.buttom-sub {
    
    margin: auto;
    text-align: center;
    width: 100px;
    
}

.link {
     
     margin: auto;
     text-align: center;
    
}

.form-control {
	
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-radius: 0px;
	border-width: 3px;
	border-color: gray;
	background-color:  rgb(250,255,255);
	
}

.form-control:focus {
	
	background-color: aliceblue;
	
}


.checkbox {
	
	     
     margin: auto;
     text-align: center;
	
}
